@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}


.head-web {
    background-color: #CCD6A6;
}

.custom-nav {
    background-color: #FFFBE9 ;
}

.eslogan {
    color: #111411;
    font-size: 1em;
   /*  color: white; */
}

a.h1 {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

.titulo {
    background-color: #F4EAD5;
}

.navbar-nav .nav-link {
    font-size: 18px; 
    font-weight: bold;
}

.image-container {
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


footer {
    background-color: #CCD6A6 ;
}

a.h4 {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}


.user {
    background-color: #F4EAD5;
}

.peso-ideal {
    background-color: #f7ce78;
    border-radius: 10px;
}

.secciones ul li a {
    color: #575e37;
}


.testimonios-section {
	background-color: #F4EAD5;
}



.comentario {
	font-size:1.2em;
}

.fecha-comentario {
	font-size:0.8em;
}

.accordion-button, accordion-collapse collapse {
	background-color:#CCD6A6;
}